@import url('foo.css');

@media (min-width: 768px) {
  .a {
    width: 100%;
  }
}
.a {
  width: 100%;
}

@media (min-width: 419px) {
  .a {
    width: 100%;

  }
}

@supports (--foo: green) {
  .a {
    width: 100%;
  }
}

.b {
  width: 100%;
  -webkit-transition: all 0.1s ease;
}
